<style type="text/css">
* {
	font-family: "DejaVu Sans","Verdana","Geneva","sans serif" ;
}

.main {
	width: 90%;
	max-width: 950px;
	margin: auto;
}

h1 {
	margin-top: 0px;
}

.navbar-collapse {
	padding-right: 0px;
}

.navbar-brand span,
h1 span {
	font-weight: bold !important;
}

.buttons {
	float: right;
	margin-top: 12px;
}
footer .container {
        margin:0 auto;
        padding: 0 15px;
}
body {
        background-color:#eee;
}
</style>
<script type="text/javascript">
var script = document.createElement('script');
    script.type = "text/javascript";
    script.src="https://n6.framasoft.org/nav/nav.js";
    document.getElementsByTagName('head')[0].appendChild(script);
</script>
<div class="container ombre" style="margin:20px auto">
	<div style="background:#fff; margin-bottom:0px" class="jumbotron">
		<h1><span style="color: #6A5687;">Frama</span><span style="color: #9BAE5F;">sphère</span></h1>
        <p>Un réseau social libre, respectueux et décentralisé.</p>
	</div>
    <div class="row">
       <div class="col-md-8">
           <p><img src="screenshots.jpg" alt="" class="img-responsive"></p><br>
           <div class="col-md-6 text-center" style="margin:20px 0">
               <a href="/users/sign_in" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-lock"></span> Se connecter »</a>
           </div>
           <div class="col-md-6 text-center" style="margin:20px 0">
			   <a href="/users/sign_up" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span> Créer un compte »</a>
           </div>

	    </div>
        <div class="col-md-4">
            <h3>Qu'est-ce que Framasphère&nbsp;?</h3>
            <p>Framasphère est un nœud (appelé pod) du réseau social libre Diaspora*.</p>
            <h3>Pourquoi utiliser Framasphère&nbsp;?</h3>
	        <p>Depuis Framasphère, vous pouvez&nbsp;:</p>
            <ul>
                <li>échanger des messages et photos avec n'importe quelle autre personne du réseau Diaspora*</li>
                <li>gérer vos contacts, tags, mentions, repartages…</li>
                <li>garder le contrôle de vos données</li>
                <li>publier sur d'autres réseaux sociaux (Facebook, Twitter, Tumblr ou Wordpress)</li>
                <li>en somme, apprécier toutes les fonctionnalités d'un réseau social sans craindre la censure et dans le respect de votre vie privée</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Prise en main</h3>
            <p class="text-center"><span class="glyphicon glyphicon-question-sign" style="font-size:50px"></span></p>
            <p>L'interface est globalement intuitive mais il y a quelques différences par rapport aux autres réseaux sociaux qui peuvent être déroutantes au début.</p>
            <p>Si vous avez besoin d'un coup de main c'est par là&nbsp;:</p>
            <p class="text-center"><a href="help" class="btn btn-primary">Aide »</a></p>	        
        </div>
        <div class="col-md-4">
            <h3>Le logiciel</h3>
            <p class="text-center"><span class="glyphicon glyphicon-cloud" style="font-size:50px"></span></p>
            <p>Framasphère repose sur le logiciel libre <a href="https://diasporafoundation.org">Diaspora*</a></p>
            <p>Il est compatible avec la majorité des navigateurs web et ne requiert aucune installation spécifique pour être utilisé sur mobile.</p>
            <p>Il est sous <a href="https://github.com/diaspora/diaspora/blob/develop/COPYRIGHT">licence <abbr title="GNU Affero General Public License" class="initialism">AGPL</abbr></a>.</p>
        </div>
        <div class="col-md-4">
            <h3>Cultivez votre jardin</h3>
            <p class="text-center"><span class="glyphicon glyphicon-tree-deciduous" style="font-size:50px"></span></p>
            <p>Pour participer au développement du logiciel ou proposer des améliorations, rendez-vous sur <a href="https://github.com/diaspora/diaspora">le site de développement</a>.</p>
		<br>
		<p>Si vous souhaitez installer ce logiciel pour votre propre usage et ainsi gagner en autonomie, la communauté Diaspora* vous aide sur :</p>
                <p class="text-center"><a href="https://wiki.diasporafoundation.org/Installation" class="btn btn-primary">wiki.diasporafoundation.org</a></p>
        </div>
    </div>
</div>
